@model Baker_Point.Models.UserAvatar
@{
    ViewBag.Title = "UserCenter";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
	
    <title>UserCenter - @Model.User.UserName</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
    <link href="~/Content/css/style1.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/fonts/stylesheet.css">
	<link href="~/Content/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
	
	<!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="~/Script/js/jquery-2.1.1.js"></script>
	<script src="~/Script/js/modernizr.custom.97074.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="index-page">
	<header>

		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="../../Images/img/1.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <div class="logo">
							</div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->

	</header>
	<!-- /Section: intro -->
    
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content pull-center">
			<div class="container text-center">
				<div class="row">
					<div class="col-sm-12 pull-center">
						<div class="box-item">
							<a href="#"><img src="../../@Model.imgSrc" title="icon-name" class="img-circle" width="200" height="200"></a>
							<h3>@Model.User.UserName</h3>
                            @if(Model.UserId==WebSecurity.CurrentUserId)
                            {							
							<a class="btn btn-sm" href="../../Account/Manage"><span class="glyphicon glyphicon-pencil">edit</span></a>
                            }
						</div>
			 		</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2 box-style-1">
			<div class="container">
				<div class="row heading">
					 <div class="col-lg-12">	
	                    <h2>His/Her Blogs</h2>
						<hr class="line">
	                </div>
				</div>
				<div class="row">
					@foreach (Baker_Point.Models.Blogs item in ViewBag.Blogs)
                    { 
                        <div class="col-md-4">
                            <div class="box-item">
							<img src="../../@item.titleImg" class="img-responsive"/>
							<div class="content">
								<a href="../../Blog/Details/@item.BlogsId"><h3 style="color:white">@item.BlogTitle</h3></a>
								<p>@item.Context.Substring(0,500)...</p>
								<span>@item.PostTime</span>
							</div>
						</div>
                        </div>
                    }
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 03 -->
		<section class="box-content box-3">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
	                    <h2>PHOTO GALLERY</h2>
						<hr class="line">
                    	<div class="intro">Lorem ipsum dolor sit amet</div>
	                </div>
				</div>
				<div class="row box-item">
					<ul id="da-thumbs" class="da-thumbs">
                        @foreach (Baker_Point.Models.Blogs item in ViewBag.Blogs)
                        {
                            string str = item.titleImg.Substring(item.titleImg.LastIndexOf("/")+1);
                            if (str != "4.jpg")
                            {
                                 <li>
                                     <a href="#">
                                         <img src="../../@item.titleImg" />
                                     </a>
                                 </li>
                            }
                        }
						
					</ul>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-2">
			<div class="container">
				<div class="row">
					<div class="box-item">
						<blockquote>Go back to @Html.ActionLink("Home","Index","Home") .</blockquote>
					</div>
				</div>
			</div>
		</section>
		
	</div>
	
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; @DateTime.Now.Year Baker Point. All rights reserved.</div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

    <!-- Core JavaScript Files -->  	 
    <script src="~/Scripts/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->

	<script src="~/Scripts/js/classie.js"></script>
	<script src="~/Scripts/js/cbpAnimatedHeader.js"></script>
	
	<!-- Countdown -->
    <script src="~/Scripts/js/jquery.mb-comingsoon.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCounter').mbComingsoon({ expiryDate: new Date(2016, 0, 1, 9, 30), speed:100 });
            setTimeout(function () {
                $(window).resize();
            }, 200);
        });
    </script>
	
	<!-- Img Hover -->
	<script type="text/javascript" src="~/Scripts/js/jquery.hoverdir.js"></script>	
	<script type="text/javascript">
		$(function() {
		
			$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

		});
	</script>
	
</body>

</html>

