@model Baker_Point.Models.Blogs

@{
    ViewBag.Title = Model.BlogTitle;
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    Baker_Point.Models.BPDbContext db = new Baker_Point.Models.BPDbContext();
    var liked = db.Liked.Where(m => m.UserId == WebSecurity.CurrentUserId && m.BlogsId == Model.BlogsId);
    if (liked.Count() == 0)
    {
        ViewBag.IsLiked = false;
    }
    else
    {
        ViewBag.IsLiked = true;
    }
    ViewBag.FeaturedBlogs = db.Featured.ToList();
}
<link href="~/Content/demo.css" type="text/css" rel="stylesheet"/>
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                           
                            <div class="lead-image">
                                @if (Model.titleImg != "")
                                {
                                <img src="../../@Model.titleImg" alt="" class="img-responsive">
                                }
                            </div>
                        </header>
                        <div class="body">
                            <h1>@Model.BlogTitle</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> <a href="../../Account/UserCenter/@Model.UserId">@Model.User.UserName</a> <i class="fa fa-calendar"></i>@Model.PostTime<i class="fa fa-comments"></i><span class="data"><a href="#comments">@Model.Comments Comments</a></span>
                            </div>
                            <p>@Model.Context</p>
                                <div class="row">
                                    @foreach (Baker_Point.Models.Attachment item in ViewBag.Attachment)
                                    {
                                        <div class="col-md-4 col-lg-4 col-xs-6">
                                        @if (item.TYPE == "img")
                                        {
                                            <div class="container"><div class="upload-Box"><img width="200" height="150" src="../../@item.Src"/><div class="row">@if(WebSecurity.CurrentUserId==Model.UserId) { using (Html.BeginForm("UploadAttachment", "Blog", FormMethod.Post, new { @class = "upload", enctype = "multipart/form-data", style="display:inline" }))
                                                {
                                                <input type="file" width="200" hidden="hidden" id="uploadfile" name="upload-file" style="width:150px;display:inline;visibility:collapse"/>
                                                <span class="glyphicon glyphicon-open" style="cursor:pointer"></span>
                                                <input type="hidden" value="@Model.BlogsId" name="blogid" />
                                                <input type="hidden" value="@item.AttachmentId" name="attachmentid" />
                                            }using (Html.BeginForm("DeleteAttachment", "Blog", FormMethod.Post, new { @class="delete",  style = "display:inline" }))
                                            {
                                                <span class="glyphicon glyphicon-trash" style="cursor:pointer;display:inline;"></span>
                                                <input type="hidden" value="@Model.BlogsId" name="blogid" />
                                                <input type="hidden" value="@item.AttachmentId" name="attachmentid" />
                                            }}
                                                </div></div></div>
                                        }
                                        else if (item.TYPE == "video")
                                        {
                                            <div class="container"><div class="upload-Box"><video width="200" height="150" controls="controls"><source  src="../../@item.Src" type="video/mp4"/></video><div class="row">@if (WebSecurity.CurrentUserId == Model.UserId)
                                            {
                                                using (Html.BeginForm("UploadAttachment", "Blog", FormMethod.Post, new { @class = "upload", enctype = "multipart/form-data", style = "display:inline" }))
                                                {
                                                <input type="file" width="200" hidden="hidden" id="uploadfile" name="upload-file" style="width:150px;display:inline;visibility:collapse"/>
                                                <span class="glyphicon glyphicon-open" style="cursor:pointer"></span>
                                                <input type="hidden" value="@Model.BlogsId" name="blogid" />
                                                <input type="hidden" value="@item.AttachmentId" name="attachmentid" />
                                                }
                                                using (Html.BeginForm("DeleteAttachment", "Blog", FormMethod.Post, new { @class = "delete", style = "display:inline" }))
                                                {
                                                <span class="glyphicon glyphicon-trash" style="cursor:pointer;display:inline;"></span>
                                                <input type="hidden" value="@Model.BlogsId" name="blogid" />
                                                <input type="hidden" value="@item.AttachmentId" name="attachmentid" />
                                                }
                                            }
                                            </div>
                                            </div></div>
                                        }
                                        else if (item.TYPE == "audio")
                                        {
                                            <div class="container"><div class="upload-Box"><audio controls="controls" style="width:200px;" ><source src="../../@item.Src"/></audio><div class="row">@if (WebSecurity.CurrentUserId == Model.UserId)
                                            {
                                                using (Html.BeginForm("UploadAttachment", "Blog", FormMethod.Post, new { @class = "upload", enctype = "multipart/form-data", style = "display:inline" }))
                                                {
                                                <input type="file" width="200" hidden="hidden" id="uploadfile" name="upload-file" style="width:150px;display:inline;visibility:collapse"/>
                                                <span class="glyphicon glyphicon-open" style="cursor:pointer"></span>
                                                <input type="hidden" value="@Model.BlogsId" name="blogid" />
                                                <input type="hidden" value="@item.AttachmentId" name="attachmentid" />
                                                }using (Html.BeginForm("DeleteAttachment", "Blog", FormMethod.Post, new { @class = "delete", style = "display:inline" }))
                                                {
                                                <span class="glyphicon glyphicon-trash" style="cursor:pointer;display:inline"></span>
                                                <input type="hidden" value="@Model.BlogsId" name="blogid" />
                                                <input type="hidden" value="@item.AttachmentId" name="attachmentid" />
                                                }}
                                            </div>
                                            </div></div>
                                        }
                                        </div>
                                    }
                                    @if (WebSecurity.CurrentUserId == Model.UserId)
                                    {
                                    <div class="col-md-4 col-lg-4 col-sm-4"><div class="upload-Box" style="width:200px;height:150px;">@using (Html.BeginForm("UploadAttachment", "Blog", FormMethod.Post, new { @class = "upload", enctype = "multipart/form-data" }))
                                    {
                                        <input type="file" hidden="hidden" id="uploadfile" name="upload-file" style="width:150px;text-align:center;vertical-align:central;display:inline;visibility:collapse"/>
                                        <span class="glyphicon glyphicon-open" style="cursor:pointer;"></span>
                                        <input type="hidden" width="200" value="@Model.BlogsId" name="blogid" />
                                    }</div></div>
                                    }

                                </div>
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            if (WebSecurity.CurrentUserId == Model.UserId || User.IsInRole("Admin"))
                            {
                            <a href="../../Blog/Edit/@Model.BlogsId"><i class="fa">Edit</i></a>
                            <a href="../../Blog/Delete/@Model.BlogsId"><i class="fa">Delete</i></a>
                            }
                            <div class="praise pull-right">
                                <span id="praise">@if (ViewBag.IsLiked)
                                {<img src="../../Images/yizan.png" id="praise-img" />}
                                else
                                {
                                    <img src="../../Images/zan.png" id="praise-img" />
                                }</span>
                                <span id="praise-txt">@Model.likedNumber</span>
                                <span id="add-num"><em>+1</em></span>
                            </div>
                            if (User.IsInRole("Admin"))
                            {
                                if (Model.IsFeatured)
                                {
                                    <a href="#" class="pull-right"><span class="glyphicon glyphicon-star">Featured</span></a> 
                                }
                                else
                                {
                                    using (Html.BeginForm("FeatureBlog", "Blog", FormMethod.Post, new { @id = "FeatureForm" }))
                                    {
                                        <input type="hidden" name="id" value="@Model.BlogsId"/>
                                    }
                                    <a href="#" id="feature" class="pull-right"><span class="glyphicon glyphicon-star-empty">Feature this article.</span></a> 
                                    }
                                }
                            }
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>Share on </h3> 
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
                    </aside>

                    <aside class="comments" id="comments">
                        <hr>

                        <h2><i class="fa fa-comments"></i> @Model.Comments Comments</h2>

                        @foreach (Baker_Point.Models.Comment item in ViewBag.Comments)
                        {
                            string imgSrc;
                            var avatar = db.Avatars.Where(m => m.UserId == item.UserId).ToList();
                            if (avatar.Count != 0)
                            {
                                imgSrc = avatar[0].imgSrc;
                            }
                            else
                            {
                                imgSrc = "/Images/Account.png";
                            }
                        <article class="comment">
                            <header class="clearfix">
                                <img src="../../@imgSrc" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="../../Account/UserCenter/@item.UserId">@item.User.UserName</a></h3>
                                    <span class="date">
                                       @item.PostTime
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a> 
                                    @if (Request.IsAuthenticated)
                                    {
                                        if (WebSecurity.CurrentUserId == item.UserId || WebSecurity.CurrentUserId == Model.UserId || User.IsInRole("Admin"))
                                        {
                                            using (Html.BeginForm("DeleteComment", "Blog", FormMethod.Post, new { @class = "Deleteform", @style = "display:inline" }))
                                            {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="@item.CommentId"/>
                                            <input type="hidden" name="blogid" value="@Model.BlogsId"/>
                                            <a href="#">Delete</a>
                                            }
                                        }
                                    }             
                                </div>
                            </header>
                             <div class="body">
                               @item.Context
                            </div>
                        </article>
                        }
                        </aside>

                    <aside class="create-comment" id="create-comment">
                        <hr>    

                        <h2><i class="fa fa-pencil"></i> Add Comment</h2>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("CreateComment", "Blog"))
                            {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-control">@WebSecurity.CurrentUserName</label>    
                                </div>
                                <div class="col-md-6">    
                                </div>
                            </div>

                            <!--input type="url" name="name" id="comment-url" placeholder="Website" class="form-control input-lg"-->
                            <input type="hidden" name="BlogsId" value="@Model.BlogsId"/>
                            <input type="hidden" name="UserId" value="@WebSecurity.CurrentUserId"/>
                            <input type="hidden" name="PostTime" value="@DateTime.Now"/>
                            <textarea rows="10" name="Context" id="comment-body" placeholder="Your Message" class="form-control input-lg"></textarea>

                            <div class="buttons clearfix">
                                <input type="submit" class="btn btn-xlarge btn-clean-one" value="submit"/>
                            </div>
                            }
                        }
                        else
                        {
                             <div class="row">
                                <div class="col-md-6">
                                    <label class="form-control">Guest</label>    
                                </div>
                                <div class="col-md-6">    
                                </div>
                            </div>
                            <div id="comment-body" class="form-control input-lg">
                                Guest!If you want to comment please <a href="../../Account/Login">Login</a> first.
                            </div>

                        }
                    </aside>
                </div>
                <aside class="col-md-4 blog-aside">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>Featured Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                @foreach (Baker_Point.Models.FeaturedList item in ViewBag.FeaturedBlogs)
                                {
                                    <li><a href="../../Blog/Details/@item.BlogsId">@item.blog.BlogTitle</a></li> 
                                }
                            </ul>
                        </div>
                    </div>
                
                    <div class="aside-widget">
                        <header>
                            <h3>Related Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>Tags</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>                            
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
<script type="text/javascript" src="~/Scripts/js/jquery-1.12.4.min.js"></script>
<script>
    $(".upload-Box").each(function(){
        var form=$(this).find(".upload");
        var input=form.find("input[type=file]");
        var span=form.find("span");
        span.click(function(){input.click()});
    })
    $(".upload-Box").each(function(){
        var form=$(this).find(".upload");
        var input=form.find("input[type=file]");
        input.change(function(){form.submit()});
    })
    $(".upload-Box").each(function(){
        var form=$(this).find(".delete");
        var input=form.find("span");
        input.click(function(){form.submit()});
    })
    $("#feature").click(function () {
        $("#FeatureForm").submit();
    })
    $(".Deleteform").each(function () {
        var form = $(this);
        $(this).find("a").click(function () {
            form.submit();
        })
    })
</script>
<script>
	$(function(){
		$("#praise").click(function(){
			var praise_img = $("#praise-img");
			var text_box = $("#add-num");
			var praise_txt = $("#praise-txt");
			var num=parseInt(praise_txt.text());
			if(praise_img.attr("src") == ("../../Images/yizan.png")){
				$(this).html("<img src='../../Images/zan.png' id='praise-img' class='animation' />");
				praise_txt.removeClass("hover");
				text_box.show().html("<em class='add-animation'>-1</em>");
				$(".add-animation").removeClass("hover");
				num -=1;
				praise_txt.text(num);
				$.ajax({
				    type: "post",
				    url: "../../Blog/dislike",
				    data: {
				        userid:@WebSecurity.CurrentUserId,
                        blogsid:@Model.BlogsId,
                        },
				    success:function(){
                        alert("success")
				    }
				})

			}else{
				$(this).html("<img src='../../Images/yizan.png' id='praise-img' class='animation' />");
				praise_txt.addClass("hover");
				text_box.show().html("<em class='add-animation'>+1</em>");
				$(".add-animation").addClass("hover");
				num +=1;
				praise_txt.text(num);
				$.ajax({
				    type: "post",
				    url: "../../Blog/like",
				    data: {
				        userid:@WebSecurity.CurrentUserId,
				        blogsid:@Model.BlogsId,
				    },
				    success:function(){
				        alert("success")
				    }
				})
			}
		});
	})
</script>